.header{ 
  display: flex;
  display:row;
  height:  40px;
  justify-content: space-between ;
  padding: 20px;
  background-color: #AE62F8;
  background-image: linear-gradient(326deg, #a340d1 0%, #AE62F8 74%);
 
  
}
#gg{ 
  display:flex;
  align-items: center;  
  width: 600px;
  height: 76%;
  margin-left: 450px;
  border: 1px solid #300046;
  background-color:#300046;
  border-radius:10px;
}
.header__input > input{
  width: 85%;
  height: 100%;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  background-color:#300046;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;

  background-color: #300046;
  border-radius:10px;
  
 }
 .no-outline:focus {
  outline: none;
}
 ::placeholder { 
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
 .header__input{
  width:600px !important;
  margin-left:auto;
  margin-right:0.5px;
   background-color:#300046;
   border: 2px solid #300046;


 }
 .header__inputButton{ 
   width: 50px !important;
   background-color:#300046;
   border-left: 0.5px solid rgb(255, 255, 255);
   color:rgb(255, 255, 255);
   border-radius:10px;
 }
.header__icon{
  margin-left:200px;
  display: flex;

}
.header__icons{ 
   width: 40px !important;
   color:#fafafa;
   margin-right:10px;
   color:rgb(255, 255, 255);
}
.header__logo{
  height:25px;
  object-fit: contain;
  margin-left: 30px;
  cursor:pointer;
}

.MuiPopover-paper {
  max-height: calc(100vh - 62px - 100px);
  width: 354px;
  margin-top: 20px;
  margin-right: -10px;
  height: 390px;
}

.home__popoverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home__popover__top {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  width: 120%;
  height: 190px;
}

.home__badge {
  background: #fff;
  color: #5f6368;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.home__camera {
  width: 17px !important;
  height: 17px !important;
  margin: 4px;
  top:7px !important;
  box-shadow: 0px 1px 1px 0 rgba(65, 69, 73, 0.3),
    0px 1px 3px 1px rgba(65, 69, 73, 0.15);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.home__camera:hover {
  color: #6ba4f1;
}

.home__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  color: #202124;
}

.home__displayName {
  font-family: "Poppins", sans-serif;
  color: #202124;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-transform: capitalize;
}

.home__mail {
  font-family: "Roboto", sans-serif;
  color: #5f6368;
}

.home__btn {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 100px;
  color: #3c4043;
  margin: 16px 0 0;
  max-width: 254px;
  padding: 8px 16px;
  font-family: "Poppins";
  cursor: pointer;
  user-select: none;
}

.home__btn:hover {
  background-color: #f7f8f8;
}

.home__popover__btm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__addBtn {
  display: flex;
  align-items: center;
  width: 354px;
 
  color: #5f6368;
  cursor: pointer;
  font-family: "Poppins";
  padding: 10px;
}

.home__addBtn:hover {
  background-color: #f7f8f8;
}

.home__addIcon {
  margin-left: 50px;
  margin-right: 20px;
}

.home__signOut {
  margin-top: 20px !important;
  color: #5f6368 !important;
  text-transform: capitalize !important;
}

.home__popover__footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 120%;
  align-items: center;
  color: #5f6368;
  justify-content: center;
  border-top: 1px solid #dadce0;
  padding-top: 5px;
}

.home__popover__footer > span {
  margin: 10px;
}